<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
	<link rel="stylesheet" href="main.css">
    <title>Quiz</title>
	<link rel = "icon" href =  
"https://seeklogo.com/images/J/javascript-js-logo-2949701702-seeklogo.com.png" 
        type = "image/x-icon"> 
</head>

<body>

    <div class=" container">
 <nav class=" form-group justify-content-start navbar fixed-top" style="text-align:center;">
        
       <a class=" d-none d-lg-block" href="/"><img src="https://images.freeimages.com/images/large-previews/f97/info-sign-question-mark-1445039.jpg"></a>
            <a style="width:15rem; margin-bottom:0.5rem; margin-right:1rem;" href="/show" class="col-3 button btn btn-success btn-lg ">Question bank</a>
            <a style="width:15rem; margin-bottom:0.5rem; margin-right:1rem; " href="/new" class="col-3 button btn btn-success btn-lg ">New question</a>
            <a style="width:15rem; margin-bottom: 0.5rem;" href="/" class="col-3 btn btn-success button btn-lg ">New round</a>
        </nav>


        <form id="myform" class="col-lg-8" action="" method="POST">
            <% var question=[]; for(let i=0;i<questions.length;i++){%>
            <%question.push(questions[i].id)%>

			<%if(i%2){%>
			
			<div class="container" style="background-color:rgba(220,220,220,0.8);margin-bottom:2.5rem; ">
			<%}else{%>
			<div class="container" style="margin-bottom:2.5rem;">
			<%}%>
			
			
            <div class="form-group">
                <h2>Question <%=i+1%> .</h2>

                    <textarea id="textarea"class="form-control" type="text" name="quiz[text]" readonly><%=questions[i].text%>
			</textarea>
                    <br>
               


                <h2>Answers</h2>
                



                    <label id="answers" 
                        class="btn btn-warning btn-rounded form-check-label" for="<%=questions[i].id+questions[i].answers[0]%>">
                        <input id="<%=questions[i].id+questions[i].answers[0]%>" autocomplete="off" 
                            class="form-check-input with-gap" type="radio" name="<%=i%>">

                       <%=questions[i].answers[0]%>
                    </label>
                    <br>

                    <label id="answers" 
                        class="  btn btn-warning btn-rounded form-check-label" for="<%=questions[i].id+questions[i].answers[1]%>">

                        <input id="<%=questions[i].id+questions[i].answers[1]%>" autocomplete="off" class="form-check-input" type="radio" name="<%=i%>">
                        <%=questions[i].answers[1]%></label><br>


                    <label 
                       id="answers" class=" btn  btn-warning btn-rounded form-check-label" for="<%=questions[i].id+questions[i].answers[2]%>">

                        <input id="<%=questions[i].id+questions[i].answers[2]%>" autocomplete="off"  class="form-check-input" type="radio" name="<%=i%>">
                        <%=questions[i].answers[2]%></label><br>

                    <label id="answers"
                        class=" btn  btn-warning btn-rounded form-check-label" for="<%=questions[i].id+questions[i].answers[3]%>">
                        <input id="<%=questions[i].id+questions[i].answers[3]%>"autocomplete="off"  class="form-check-input" type="radio" name="<%=i%>">

                  <%=questions[i].answers[3]%></label><br>

						</div>
               
            </div>




            <%}%>



			</div>
</form>
<%if(questions.length){%>
            <div style=" text-align:center;" class="form-group">
                <button id="resultBtn" style="width:15rem;"type="button" class="btn btn-success btn-lg ">Results</button>
            </div>
            <%}%>
</div>
<script>
var textAreas=document.querySelectorAll("textarea")
    var questions = []
    var correct = []
	 var form = document.querySelector("#myform");
	 var nav=document.querySelector("nav");
    var button = document.querySelector("button");
    var radio = document.querySelectorAll("input[type='radio']");
    var question =<%-JSON.stringify(question)%>
	
	
            for (var i = 0; i < radio.length / 4; i++) { questions.push(question[i]) } 
			var correct = [];
	for(let area of textAreas){
	area.rows=area.innerHTML.split(/\n/).length+3
	}
	
	
	
			
			
			
			var button = document.querySelector("button"); var radio = document.querySelectorAll("input[type='radio' ]");
   form.onclick=()=>{
   for(let elem of radio){
   if(elem.checked){
   elem.parentElement.classList.add("selected")
 
   }else{
   elem.parentElement.classList.remove("selected")
   }
   
   }
   
   
   
   }



   button.onclick = () => {
        var data = JSON.stringify(questions);
        var correctAns = 0;
        var xhr = new XMLHttpRequest();
        xhr.withCredentials = true;

        xhr.addEventListener("readystatechange", function () {
            if (this.readyState === 4) {
                correct = JSON.parse(this.responseText);

                for (var n = 0; n < radio.length; n++) {
			
						radio[n].parentElement.classList.remove("btn-success");
						radio[n].parentElement.classList.remove("selected");
						radio[n].parentElement.classList.remove("btn-danger");
                        radio[n].parentElement.classList.add("btn-warning");
						radio[n].parentElement.classList.remove("active");
                    
					if (radio[n].parentElement.getAttribute("for").slice(24)== correct[parseInt(radio[n].name)]) {
                        if (radio[n].checked) { correctAns++ }
                        radio[n].parentElement.classList.remove("btn-warning");
                        radio[n].parentElement.classList.add("btn-success");
						
                    } else if (radio[n].checked) {
                        radio[n].parentElement.classList.remove("btn-warning");
                        radio[n].parentElement.classList.add("btn-danger");
						
                    }
                } alert(`Az eredmenyed:
                    ${((correctAns / (radio.length / 4)) * 100).toFixed(2)}%`)
            }
        });
        xhr.open("POST", "https://sanyiquiz.herokuapp.com/answers");
        xhr.setRequestHeader("content-type", "application/x-www-form-urlencoded");
        xhr.setRequestHeader("cache-control", "no-cache"); xhr.send(data);
    } </script>
                   

</body>

</html>