<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <title>Quiz</title>
	<link rel = "icon" href =  
"https://seeklogo.com/images/J/javascript-js-logo-2949701702-seeklogo.com.png" 
        type = "image/x-icon"> 
</head>

<body>

    <div class="container">

        <h1 style="text-align:center; margin-bottom:3rem;"> Questions </h1>
        <div class="form-group" style="text-align:center; margin-bottom:5rem;">
            <a style="width:15rem; margin-bottom:0.5rem;" href="/show" class="btn btn-success btn-lg ">Question bank</a>
            <a style="width:15rem; margin-bottom:0.5rem;" href="/new" class="btn btn-success btn-lg ">Add a new question</a>
            <a style="width:15rem; margin-bottom: 0.5rem;" href="/" class="btn btn-success btn-lg ">New round</a>
        </div>


        <form id="myform" class="col-lg-8" action="" method="POST">
            <% var question=[]; for(let i=0;i<questions.length;i++){%>
            <%question.push(questions[i].id)%>

			<%if(i%2){%>
			
			<div style="background-color:rgba(220,220,220,0.8);margin-bottom:2.5rem;">
			<%}else{%>
			<div style="margin-bottom:2.5rem;">
			<%}%>
			
			
            <div class="form-group">
                <h2>Question <%=i+1%> .</h2>

                    <textarea class="form-control" type="text" name="quiz[text]" rows="8" readonly><%=questions[i].text%>
			</textarea>
                    <br>
                </div>


                <h2>Answers</h2>
                <div data-toggle="buttons">



                    <label style="width:20rem; margin-bottom:0.5rem"
                        class="btn btn-warning btn-rounded form-check-label" for="<%=questions[i].answers[0]%>">
                        <input style="width: 8%; opacity: 0;" autocomplete="off" id="<%=questions[i].answers[0]%>"
                            class="form-check-input with-gap" type="radio" name="<%=i%>">

                        &nbsp;&nbsp;&nbsp;&nbsp;<%=questions[i].answers[0]%>
                    </label>
                    <br>

                    <label style="width:20rem; margin-bottom:0.5rem"
                        class="btn btn-warning btn-rounded form-check-label" for="<%=questions[i].answers[1]%>">

                        <input style="
    width: 8%; opacity: 0;" id="<%=questions[i].answers[1]%>" autocomplete="off" class="form-check-input" type="radio"
                            name="<%=i%>">
                        &nbsp;&nbsp;&nbsp;&nbsp;<%=questions[i].answers[1]%></label><br>


                    <label style="width:20rem; margin-bottom:0.5rem"
                        class="btn btn-warning btn-rounded form-check-label" for="<%=questions[i].answers[2]%>">

                        <input autocomplete="off" style="
    width: 8%; opacity: 0; " id="<%=questions[i].answers[2]%>" class="form-check-input" type="radio" name="<%=i%>">
                        &nbsp;&nbsp;&nbsp;&nbsp;<%=questions[i].answers[2]%></label><br>

                    <label style="width:20rem; margin-bottom:1rem;"
                        class="btn btn-warning btn-rounded form-check-label" for="<%=questions[i].answers[3]%>">
                        <input autocomplete="off" style="
    width: 8%; opacity: 0;" id="<%=questions[i].answers[3]%>" class="form-check-input" type="radio" name="<%=i%>">

                        &nbsp;&nbsp;&nbsp;&nbsp;<%=questions[i].answers[3]%></label><br>


                </div>
            </div>




            <%}%>


<%if(questions.length){%>
            <div style="text-align:center; margin-top:3rem;" class="form-group">
                <button style="width:15rem;"type="button" class="btn btn-success btn-lg ">Results</button>
            </div>
            <%}%>
			</div>
</form>
</div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                        crossorigin="anonymous"></script>
                    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                        crossorigin="anonymous"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
                        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
                        crossorigin="anonymous"></script>
<script>
    var questions = []
    var correct = []
    var button = document.querySelector("button");
    var radio = document.querySelectorAll("input[type='radio']");
    var question =<%-JSON.stringify(question)%>
            for (var i = 0; i < radio.length / 4; i++) { questions.push(question[i]) } 
			var correct = [];
			var button = document.querySelector("button"); var radio = document.querySelectorAll("input[type='radio' ]");
    button.onclick = () => {
        var data = JSON.stringify(questions);
        var correctAns = 0;
        var xhr = new XMLHttpRequest();
        xhr.withCredentials = true;

        xhr.addEventListener("readystatechange", function () {
            if (this.readyState === 4) {
                correct = JSON.parse(this.responseText);

                for (var n = 0; n < radio.length; n++) {
						radio[n].parentElement.classList.remove("btn-success");
						radio[n].parentElement.classList.remove("btn-danger");
                        radio[n].parentElement.classList.add("btn-warning");
						radio[n].parentElement.classList.remove("active");
                    
					if (radio[n].id == correct[parseInt(radio[n].name)]) {
                        if (radio[n].checked) { correctAns++ } 
                        radio[n].parentElement.classList.remove("btn-warning");
                        radio[n].parentElement.classList.add("btn-success");
						
                    } else if (radio[n].checked) {
                        radio[n].parentElement.classList.remove("btn-warning");
                        radio[n].parentElement.classList.add("btn-danger");
						
                    }
                } alert(`Az eredmenyed:
                    ${((correctAns / (radio.length / 4)) * 100).toFixed(2)}%`)
            }
        });
        xhr.open("POST", "https://sanyiquiz.herokuapp.com/answers");
        xhr.setRequestHeader("content-type", "application/x-www-form-urlencoded");
        xhr.setRequestHeader("cache-control", "no-cache"); xhr.send(data);
    } </script>
	<style>.btn-warning:not(:disabled):not(.disabled).active, .btn-warning:not(:disabled):not(.disabled):active, .show>.btn-warning.dropdown-toggle {
    color: #212529;
	
    background-color: #79CDCD;
    border:1px solid #79CDCD;
	box-shadow:0px 0px;
}</style>
	
	
	
	
                  

</body>

</html>